@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*------------------INDEX------------------*/
/*--------MIXIN INICIO--------*/
/*--------MIXIN FIN--------*/
/*BARRA NAVEGACION INICIO*/
.navbar {
  background-image: url(img/miembros.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 600px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 80px;
}

.logo > img {
  height: 100px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.logo > img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 25px;
  padding-right: 25px;
  padding-top: 50px;
  font-family: 'Dosis 700', sans-serif;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #a2a2a2;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-collapse {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

button, input, optgroup, select, textarea {
  margin-top: 50px;
  margin-right: 20px;
}

.navbar-dark .navbar-toggler {
  border-color: #868686;
}

.navbar-toggler-icon {
  color: white;
}

/*BARRA NAVEGACION FIN*/
.contenedorMulti {
  height: 1040px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 80px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(24%, #b7b7b7), color-stop(49%, #b7b7b7), color-stop(75%, #b7b7b7), to(#ffffff));
  background-image: linear-gradient(0deg, #ffffff 0%, #b7b7b7 24%, #b7b7b7 49%, #b7b7b7 75%, #ffffff 100%);
  margin-bottom: 50px;
}

.primerParteIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
}

.infoIndex {
  height: 400px;
  width: 600px;
  text-align: center;
  padding: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.infoIndex p {
  font-size: 23px;
  font-family: 'Indie Flower', cursive;
}

.infoIndex:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#tituloIndex {
  font-size: 55px;
  font-family: 'Permanent Marker', cursive;
  margin-top: 10px;
  margin-bottom: 30px;
}

.spotify {
  float: right;
  height: 400px;
  width: 600px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.spotify:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 15px 15px 12px 0px rgba(53, 53, 53, 0.75);
          box-shadow: 15px 15px 12px 0px rgba(53, 53, 53, 0.75);
}

.multimedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.videos--posicion {
  border-radius: 12px;
  height: 400px;
  width: 600px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.border {
  border: 1px solid #000000 !important;
}

.videos--posicion:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 15px 15px 12px 0px rgba(53, 53, 53, 0.75);
          box-shadow: 15px 15px 12px 0px rgba(53, 53, 53, 0.75);
}

/*Pie de Pagina*/
.pieDePagina {
  height: 150px;
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='130' preserveAspectRatio='none' viewBox='0 0 1442 130'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1033%26quot%3b)' fill='none'%3e%3crect width='1442' height='130' x='0' y='0' fill='rgba(22%2c 22%2c 22%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c452.347C82.143%2c437.944%2c137.637%2c365.934%2c214.726%2c334.12C315.509%2c292.527%2c459.367%2c328.022%2c520.309%2c237.617C579.156%2c150.32%2c510.589%2c32.597%2c487.176%2c-70.045C465.643%2c-164.443%2c448.084%2c-260.383%2c389.183%2c-337.229C328.058%2c-416.976%2c248.014%2c-488.951%2c149.808%2c-510.198C53.941%2c-530.939%2c-38.597%2c-479.529%2c-132.136%2c-450.015C-223.669%2c-421.134%2c-325.378%2c-408.798%2c-391.637%2c-339.356C-459.077%2c-268.676%2c-471.691%2c-166.158%2c-493.782%2c-70.995C-517.861%2c32.732%2c-570.557%2c143.501%2c-526.198%2c240.307C-481.843%2c337.104%2c-368.021%2c379.185%2c-269.263%2c418.981C-183.643%2c453.483%2c-90.923%2c468.289%2c0%2c452.347' fill='%230e0e0e'%3e%3c/path%3e%3cpath d='M1442 649.382C1544.797 659.773 1656.979 655.343 1740.753 594.8679999999999 1823.343 535.248 1847.439 426.823 1882.69 331.256 1915.46 242.417 1941.532 153.248 1938.561 58.605000000000004 1935.315-44.803 1927.596-154.144 1864.872-236.421 1800.6779999999999-320.625 1694.749-355.685 1595.208-391.779 1489.818-429.994 1376.108-491.20899999999995 1271.201-451.688 1166.722-412.328 1123.528-290.714 1068.73-193.44 1023.354-112.89099999999999 1008.028-24.671999999999997 980.8679999999999 63.699 947.9259999999999 170.881 848.809 277.69399999999996 892.147 381.11 935.231 483.918 1079.513 489.274 1179.696 538.153 1266.814 580.658 1345.557 639.633 1442 649.382' fill='%231e1e1e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1033'%3e%3crect width='1442' height='130' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 40px;
  text-align: center;
}

.pieDePagina p {
  font-family: 'Dosis 200', sans-serif;
  color: white;
  padding-top: 10px;
}

.redesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redesSociales > a > i {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 35px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.redesSociales > a > i:hover {
  -webkit-transform: translate(0, -7px);
          transform: translate(0, -7px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*---------MAPA INICIO--------*/
/*---------MAPA FIN--------*/
.redesSociales > a > #facebook:hover {
  color: #4267b2;
}

.redesSociales > a > #instagram:hover {
  color: #c23284;
}

.redesSociales > a > #twitter:hover {
  color: #0881b9;
}

.redesSociales > a > #youtube:hover {
  color: #b90a0a;
}

.subir {
  height: 40px;
  width: 40px;
  color: white;
  background-color: black;
  border: 5px white solid;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 20px;
  text-align: center;
  font-size: 22px;
  line-height: 35px;
  -webkit-box-shadow: 0 0 10px #6b6b6b;
          box-shadow: 0 0 10px #6b6b6b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subir i {
  color: white;
}

.subir:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*   @MEDIA QUERY */
/*
@media only screen and (min-width:500px) and (max-width:686px){
}*/
@media only screen and (max-width: 1300px) {
  .primerParteIndex {
    margin-bottom: 40px;
  }
  .infoIndex {
    margin-bottom: 40px;
  }
  #video1 {
    margin-bottom: 40px;
  }
  #video2 {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .contenedorMulti {
    height: 1840px;
  }
}

@media only screen and (max-width: 1000px) {
  .encabezadoInicio > nav > a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar {
    height: 380px;
  }
  .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .navbar-collapse .navbar-nav {
    background-color: rgba(48, 48, 48, 0.515);
    margin-top: 7px;
    width: 110px;
    margin-right: 0;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 18px;
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
  }
}

@media only screen and (max-width: 800px) {
  .contenedorMulti {
    height: 1552px;
    padding-top: 60px;
  }
  .infoIndex {
    height: 333px;
    width: 500px;
  }
  .spotify {
    height: 333px;
    width: 500px;
  }
  .videos--posicion {
    height: 333px;
    width: 500px;
  }
  #tituloIndex {
    font-size: 46px;
    margin-bottom: 20px;
  }
  .infoIndex > p {
    font-size: 19px;
  }
}

@media only screen and (max-width: 540px) {
  .contenedorMulti {
    height: 1274px;
    padding-top: 50px;
  }
  .infoIndex {
    height: 266px;
    width: 400px;
  }
  .spotify {
    height: 266px;
    width: 400px;
  }
  .videos--posicion {
    height: 266px;
    width: 400px;
  }
  #tituloIndex {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .infoIndex > p {
    font-size: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 420px) {
  .contenedorMulti {
    height: 1110px;
    padding-top: 50px;
  }
  .infoIndex {
    height: 300px;
    width: 300px;
  }
  .spotify {
    height: 200px;
    width: 300px;
  }
  .videos--posicion {
    height: 200px;
    width: 300px;
  }
  #tituloIndex {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .infoIndex > p {
    font-size: 15px;
  }
}

/*------------------BIOGRAFÍA------------------*/
#tituloBio {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 80px;
}

#grillaBio {
  margin-top: 40px;
  margin-bottom: 50px;
}

.imgBio > img {
  width: 100%;
  height: 225px;
  overflow: hidden;
}

.textoBio {
  font-family: "Louis George Café", regular;
  height: 245px;
  font-size: 18px;
  overflow: scroll;
  padding: 10px;
}

.row {
  overflow: hidden;
  margin-bottom: 20px;
}

.row .imgBio {
  padding: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .imgBio > img {
    width: 100%;
    height: 285px;
    overflow: hidden;
  }
  .textoBio {
    height: 285px;
  }
}

@media only screen and (max-width: 575px) {
  .imgBio > img {
    width: 100%;
    height: 265px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .textoBio {
    height: 350px;
  }
}

@media only screen and (max-width: 520px) {
  .imgBio > img {
    height: 245px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 300px) {
  .imgBio > img {
    height: 225px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*------------------MIEMBROS------------------*/
#tituloMiembros {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 80px;
}

#grillaMiembros {
  margin-top: 40px;
  margin-bottom: 50px;
}

.contMiem {
  text-align: center;
  margin-bottom: 20px;
}

.contMiem p {
  font-size: 18px;
}

.contMiem img {
  width: 100%;
}

.nombMiembro {
  margin-top: 20px;
  font-family: "Louis George Café", regular;
  font-size: 28px;
  font-weight: bold;
}

/*------------------DISCOS------------------*/
#tituloDiscos {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 80px;
}

#grillaDiscos {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contDisc {
  margin-bottom: 20px;
}

.contDisc h2 {
  font-size: 24px;
  font-family: "Louis George Café", regular;
  font-weight: bold;
}

.contDisc img {
  width: 100%;
}

.nombDisc {
  margin-top: 20px;
}
/*# sourceMappingURL=estilos.css.map */